{% extends "orbital/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block article %}
<div class="container col-md-6 my-3">
    <div class="row">
        <div class="col">
            <img class="img-fluid my-3" src="{{object.image.url}}" alt="{object.title}}" title="{{object.title}}">
            <h1>{{object.title}} &nbsp<a class="btn btn-primary" href="{% url 'update' object.slug %}"><i class="fas fa-plus-circle">&nbsp</i>Update</a>&nbsp<a class="btn btn-danger" href="{% url 'delete' object.slug %}"><i class="fas fa-trash">&nbsp</i>Delete</a></h1>
            <p>{{object.detail|safe}}</p>
            <p >{{comentarios.comment}}</p>
        </div>
        
        
        <div class="container my-3">
          <div class="row">
            <div class="col">
              <hr>
              <h3>Sé el primero en comentar :)</h3>
               <form class="form-group" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy|safe }}
                <input class="btn btn-primary" type="submit" value="Comentar">
                <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
               </form>
            </div>
          </div>
        </div>


        <div class="col my-2">
          <h3>Coments</h3>
          {% if not new.mensaje.all %}
            <p> No coments yet... <a href="#">Add One</a></p>

          {% else %}
            
            {% for c in new.mensaje.all %}
                <p></p><strong>{{c.name}}</strong></p>
                <p>{{c.comment}}</p>
                <hr>
            {% endfor %}
                
          {% endif %}
        </div>
        
    </div>
</div>
{% endblock article %}
    