{% extends "orbital/base.html" %}
{% load static %}


{% block article %}
<div class="container col-md-6 my-3">
    <div class="row">
        <div class="col">
            <h1>The simple way to study the hardest part of poker.</h1>
            <p>The best 6max players are great hand readers that put their opponents on correct ranges time and time again. But they aren't wizards or lucky guessers. They use a process that this workbook guides you through.</p>
            <p>The games are getting tougher. It is no longer about simply stealing more often, defending your blinds a bit better, or double barreling some more bluffs. Poker has matured, and as it continues to mature your online winrate will rely on your ability to hand read and exploit ranges using the most +EV lines. This workbook is for 6max players to improve their skills between sessions. With 40 exercises hand-picked to help you dissect situations that come up often, you will be challenged to explore ranges more powerfully than ever before. Built specifically for online players; you will explore barreling, restealing, squeezing, thin value bets, and big bluffs using HUD stats and a step-by-step process. Your workbook has 3 sections to give you a well-rounded hand reading experience where you will study.</p>
            <h2>Improve your hand reading skills in a few weeks without spending hundreds per hour on coaching</h2>
        </div>
    </div>
</div>
{% endblock article %}
    