
{% extends "orbital/base.html" %}
{% load static %}

    
{% block article %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center my-3">Tienda online de artículos con calaveras</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur itaque veniam voluptatibus laudantium accusantium dolor odio sit ex cupiditate numquam necessitatibus harum quod, quidem, eaque aliquid enim tempore quis, sint consectetur non! Corrupti laboriosam cum iure velit quasi dicta ipsam mollitia est? Beatae excepturi hic nostrum laboriosam, est cupiditate reiciendis sed ut consequatur repellendus doloribus, necessitatibus cum! Laudantium odit molestiae neque dolorum quia molestias et reprehenderit sit obcaecati, deleniti magnam ipsam ex sunt illo quod rem excepturi natus, repudiandae facere? Dolores molestias distinctio rem, tenetur perferendis velit, molestiae ad doloremque laboriosam aliquam amet suscipit? Molestiae officia dolores quidem mollitia animi!</p>
            <div class="card-deck row-cols-3">
              
              {% for article in articles %}
              <div class="col mb-4">
              <div class="card">
                <img src="media/{{ article.image }}" class="card-img-top" alt="..."> 
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'articles' article.pk %}">{{article.title}}</a></h5>
                  <p class="card-text">{{article.detail  | truncatewords_html:20}}</p>
                  <p class="card-text"><small class="text-muted"><a href="{% url 'articles' article.pk %}">Leer más...</a></small></p>
                </div>
              </div>
              </div>
              {% endfor %}
                </div>
              </div>
        </div>
    </div>
</div>
    
{% endblock article %}
    