{% extends "orbital/base.html" %}
{% load static %}


{% block article %}
<div class="container col-md-6 my-3">
    <div class="row">
        <div class="col">
            <h1>Work On The Skills That Kill Luck At The Final Table</h1>
            <p>You have been playing well for hours and finally end up at the final table - and with big money up top it's time to focus. All of your off-table work is going to pay off in a big way as you apply pressure in all of the right spots.</p>
            <p>This is the workbook you do between sessions to ensure you get the most from every final table you make. Get to it.</p>
            <p>Improve your hand reading skills in a few weeks without spending hundreds per hour on coaching</p>
        </div>
    </div>
</div>
{% endblock article %}