{% extends "orbital/base.html" %}
{% load static %}


{% block article %}
<div class="container col-md-6 my-3">
    <div class="row">
        <div class="col">
            <h1>THE ONE PERCENT SPIN</h1>
            <p>This complete video series that takes the epic book "Poker’s 1%" and brings it to life. See the math behind the game and spot every place where your opponents are leaving heaps of chips on the table - and then capitalize by fighting more, folding less, and choosing more intelligent ranges with a true system for success.</p>
            <p>You have been playing well for hours and finally end up at the final table - and with big money up top it's time to focus. All of your off-table work is going to pay off in a big way as you apply pressure in all of the right spots.</p>
            <p>This is the workbook you do between sessions to ensure you get the most from every final table you make. Get to it.</p>
            <p>Improve your hand reading skills in a few weeks without spending hundreds per hour on coaching</p>
        </div>
    </div>
</div>
{% endblock article %}